#bongo-cat{
   /* max-width: 1000px; */
}

.buttons {
    margin-left: 5px;
}

.buttons:first-child{
    margin-left:40px;
}

.buttons:last-child{
    margin-left:5px;
    margin-right:40px;
    margin-bottom: 1rem;
}